@{
    ViewBag.Title = "detail_view_of_college";
}



    @model term_project_ead.Models.Subject
      
    <div id="college_detail_data"class="container" >
 
       <p class="h1" style="font-size:100px ; font-family:Batang ; text-align:center">@Model.College.ClgName</p> 
         <img style=" width:20% ; height:20%" src="@Model.College.picture" />
        <br /><br /><p class="h3" style="font-size:50px ; font-family:Batang " ><u><b>Description</b></u></p> <br/><br/>
        <p id ="college_description" style="font-size:20px ; font-family:Batang ;font-weight:600">@Model.College.Description</p>

              <br />
    <br />
<table class="table table-bordered">
 
<tbody><tr>
<td style="text-align:center ; font-family:Batang"><b>Sl.No.</b></td>
<td style="text-align:center ; font-family:Batang"><b>Degree</b></td>
<td style="text-align:center ; font-family:Batang"><b>Highest Score</b></td>
<td style="text-align:center; font-family:Batang"><b>Average Score</b></td>
<td style="text-align:center; font-family:Batang"><b>Lowest Score</b></td>
<td style="text-align:center; font-family:Batang"><b>Fees Per Year</b></td>
</tr>
 
<tr>
<td>1</td>
<td>Fsc(pre engg)</td>
<td><input type="text" name="fsc_engg_highest" maxlength="30" value="@Model.Fsc_Eng_Max"/></td>
<td><input type="text" name="fsc_engg_average" maxlength="30" value="@Model.Fsc_Eng_Avg"/></td>
<td><input type="text" name="fsc_engg_lowest" maxlength="30" value="@Model.Fsc_Eng_Min"/></td>
    <td><input type="text" name="fsc_engg_fee" maxlength="30" value="@Model.Fsc_Eng_Fee"/></td>
</tr>
 
<tr>
<td>2</td>
<td>Fsc(pre medical)</td>
<td><input type="text" name="fsc_medical_highest" maxlength="30" value="@Model.Fsc_Med_Max"/></td>
<td><input type="text" name="fsc_medical_average" maxlength="30"  value="@Model.Fsc_Med_Avg"/></td>
<td><input type="text" name="fsc_medical_lowest" maxlength="30"  value="@Model.Fsc_Med_Min"/></td>
    <td><input type="text" name="fsc_medical_fee" maxlength="30"  value="@Model.Fsc_Med_Fee"/></td>
</tr>
 
<tr>
<td>3</td>
<td>Icom</td>
<td><input type="text" name="icom_hieghest" maxlength="30"  value="@Model.Icom_Max"/></td>
<td><input type="text" name="icom_aversge" maxlength="30" value="@Model.Icom_Avg"/></td>
<td><input type="text" name="icom_lowest" maxlength="30" value="@Model.Icom_Min"/></td>
    <td><input type="text" name="icom_fee" maxlength="30" value="@Model.Icom_Fee"/></td>
</tr>
 
<tr>
    <td>4</td>
<td>ICS</td>

<td><input type="text" name="ics_hieghest" maxlength="30" value="@Model.Ics_Max"/></td>
<td><input type="text" name="ics_aversge" maxlength="30" value="@Model.Ics_Avg"/></td>
<td><input type="text" name="ics_lowest" maxlength="30" value="@Model.Isc_Min"/></td>
    <td><input type="text" name="ics_fee" maxlength="30" value="@Model.Ics_Fee"/></td>
</tr>

     
<tr>
    <td>5</td>
<td>Genral Science</td>
<td><input type="text" name="gs_highest" maxlength="30" value="@Model.Fa_Max"/></td>
<td><input type="text" name="gs_average" maxlength="30" value="@Model.Fa_Avg"/></td>
<td><input type="text" name="gs_lowest" maxlength="30" value="@Model.Fa_Min"/></td>
<td><input type="text" name="gs_fee" maxlength="30" value="@Model.Fa_Avg"/></td>
</tr>

   
                </tbody>
                </table>
    </div>